# Permitir upload de PDFs
<Files "*.pdf">
    Order Allow,Deny
    Allow from all
</Files>

# Bloquear execução de scripts
<Files "*.php">
    Order Deny,Allow
    Deny from all
</Files>

# Permitir acesso a arquivos PDF
Options -Indexes
Allow from all